@tailwind base;
@tailwind components;
@tailwind utilities;

@layer panda_reset, panda_base, panda_tokens, panda_recipes, panda_utilities; 

@layer base {
  :root {
    /* --background: 220 13% 23%;
    --foreground: 0 0% 98%;
    --card: 231 9% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 231 9% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 224 12% 19%;
    --secondary: 231 9% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 13% 23%;
    --muted-foreground: 225 18% 75%;
    --accent: 220 13% 23%;
    --accent-foreground: 227 96% 60%;
    --accent-secondary: 220 13% 23%;
    --accent-secondary-foreground: 207 89% 54%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 23%;
    --input: 220 13% 23%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%; */
    
    --background: oklch(0.141 0.005 285.823);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.21 0.006 285.885);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.21 0.006 285.885);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.546 0.245 262.881);
    --primary-foreground: oklch(0.379 0.146 265.522);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.274 0.006 286.033);
    --muted-foreground: oklch(0.705 0.015 286.067);
    --accent: oklch(0.274 0.006 286.033);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.488 0.243 264.376);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.21 0.006 285.885);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.546 0.245 262.881);
    --sidebar-primary-foreground: oklch(0.379 0.146 265.522);
    --sidebar-accent: oklch(0.274 0.006 286.033);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.488 0.243 264.376);

    --radius: 0.5rem;
    --header-height: 3rem;
  }
}

@layer base {
  * {
    @apply border-border;
    scroll-behavior: smooth;
  }
  body {
    @apply bg-secondary text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  html, body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
  }

  ::-webkit-scrollbar {
    @apply w-0 hashover:w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-border rounded-full hover:bg-accent-foreground;
  }

  .p-link {
    @apply text-accent-foreground hover:underline;
  }

  .text-fill-none {
    -webkit-text-fill-color: transparent
  }

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
