# Grafana Datasources Configuration

apiVersion: 1

datasources:
  # Loki - Logs
  - name: Loki
    type: loki
    uid: loki
    access: proxy
    url: http://loki:3100
    isDefault: false
    editable: false
    jsonData:
      maxLines: 1000
      derivedFields:
        - datasourceUid: tempo
          matcherRegex: '"traceId":"([a-f0-9]+)"'
          name: TraceID
          url: "$${__value.raw}"

  # Tempo - Traces
  - name: Tempo
    type: tempo
    uid: tempo
    access: proxy
    url: http://tempo:3200
    isDefault: true
    editable: false
    jsonData:
      httpMethod: GET
      tracesToLogs:
        datasourceUid: loki
        tags: ["service.name", "job"]
        mappedTags: [{ key: "service.name", value: "service" }]
        mapTagNamesEnabled: true
        filterByTraceID: true
        filterBySpanID: true
      serviceMap:
        datasourceUid: tempo
      nodeGraph:
        enabled: true
      lokiSearch:
        datasourceUid: loki
