@keyframes cupcakes-float {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(var(--direction-x, 0), var(--direction-y, -250px));
  }
}

.animate-cupcake-float {
  animation: cupcakes-float 1.5s ease-out forwards;
}

@keyframes cupcakes-progress {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

.cupcake-progress::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: #f1c40f;
    transform: scaleX(0);
    transform-origin: left;
    animation: cupcakes-progress var(--interval, 0s) linear infinite;
}